<link rel="stylesheet" href="styles/wow-tcg.css">
<div ng-controller="yojimboTestCtrl">

	<ul class="nav nav-tabs">
		<li ng-repeat="(i,tab) in tabs" ng-click="tabs.index = i" ng-class="isActive(tabs.index, i)"><a href="#">{{tab}}</a></li>
	</ul>

	<div ng-show="tabs.active()=='board'">
		<div 
			yoj-pile 
			yoj-item-collection="board" 
			yoj-item-display-class="'front'"
			yoj-item-settings="itemSettings">
		</div>		
	</div>

	<div ng-show="tabs.active()=='extras'">

		<div class="wowtcg-deck">
			<h4 class="wowtcg-deck-title">DECK</h4>
			<div 
				yoj-deck 
				yoj-item-collection="deck" 
				yoj-item-display-class="'back'"
				yoj-deck-settings="deckSettings"
				yoj-item-settings="deckItemSettings">
			</div>
		</div>

		<div class="wowtcg-deck">
			<h4 class="wowtcg-deck-title">GRAVEYARD</h4>
			<div
				yoj-deck 
				yoj-item-collection="graveyard" 
				yoj-item-display-class="'front'"
				yoj-deck-settings="deckSettings"
				yoj-item-settings="deckItemSettings">
			</div>
		</div>

		<div class="wowtcg-deck">
			<h4 class="wowtcg-deck-title">CHANNELERS</h4>
			<div 
				yoj-deck
				yoj-item-collection="channelers" 
				yoj-item-display-class="'front'"
				yoj-item-settings="deckItemSettings"
				yoj-deck-settings="deckSettings">
			</div>
		</div>
		<div class="wowtcg-deck">
			<h4 class="wowtcg-deck-title">LAIR</h4>
			<div 
				yoj-deck
				yoj-item-collection="lair" 
				yoj-item-display-class="'front'"
				yoj-item-settings="deckItemSettings"
				yoj-deck-settings="deckSettings">
			</div>
		</div>
		<div class="wowtcg-deck">
			<h4 class="wowtcg-deck-title">BOSSES</h4>
			<div 
				yoj-deck
				yoj-item-collection="bosses" 
				yoj-item-display-class="'front'"
				yoj-item-settings="deckItemSettings"
				yoj-deck-settings="deckSettings">
			</div>
		</div>
		<div class="wowtcg-deck">
			<h4 class="wowtcg-deck-title">MANTICRONS</h4>
			<div 
				yoj-deck
				yoj-item-collection="manticrons" 
				yoj-item-display-class="'front'"
				yoj-item-settings="deckItemSettings"
				yoj-deck-settings="deckSettings">
			</div>
		</div>
		<div 
			yoj-pile
			yoj-item-collection="extras" 
			yoj-item-display-class="'front'"
			yoj-item-settings="itemSettings">
		</div>
	</div>

	<div ng-show="tabs.active()=='hand'">
		<div 
			yoj-pile
			yoj-item-collection="hand" 
			yoj-item-display-class="'front'"
			yoj-item-settings="itemSettings">
		</div>
		
	</div>
</div>